- provide(:title, 'About')
%h1
  About the ACTO Application
%p
:markdown
  ## Heading level 2
  ### Heading level 3

  The following section *should* appear as nicely formatted _text_, courtesy of Markdown filtering in the **haml** interpreter
