- provide(:title, 'About')
%h1
  About the ACTO Application
%p
<<<<<<< HEAD
	This app provides an easily accessible repository for Account CTO deliverables and items of interest - RN
=======
  This app provides an easily accessible repositury for Account CTO deliverables and items of interest - RN
:markdown
  ## Heading level 2
  ### Heading level 3

  The following section *should* appear as nicely formatted _text_, courtesy of Markdown filtering in the **haml** interpreter
>>>>>>> Add rdiscount gem to process markdown in haml code and test
