/- provide(:title, '')
.center.hero-unit
  %h1
    Welcome to the Account Client Technology Office
  %h2
    This is the home page for the ACTO web application
  = link_to "Sign up now!", '#', class: "btn btn-large btn-primary"
  %p
    Initial development home page!
  = link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'
