- provide(:title, 'Innovation')
%h1
  Innovation Agenda
:markdown
  This 10-step guide will help you to complete your Account Innovation Agenda. The process is flexible and should be adapted to your own customer environment. The recommended steps are: 

  #### Understand your customer's needs

  + Review your Account Business Plan (ABP) to understand your customer and account’s strategy

  + Engage your customer in an innovation discussion to better understand their needs and definition of innovation

  + Identify the business areas of interest to which we may be able to bring innovation

  #### Consider using innovation-related resources

  + Consider innovation initiatives and resources available to you and how best to utilise them for your needs

  + Consider the investment required to deliver your Innovation Agenda

  #### Build your Innovation Agenda and document your approach

  + Draft your Innovation Agenda, for use in customer and internal reviews

  + Agree on the initiatives you will progress to help you deliver innovation to your customer

  + Agree on innovation practices that you will put in place that will help develop ongoing innovation 

  #### Validate your Innovation Agenda and initiatives

  + Validate your Innovation Agenda and chosen initiatives with your customer, and ensure your account team is fully aware of the plan

  #### Review and refine your Innovation Agenda and initiatives

  + Review and update your Agenda and initiatives with your client regularly, at least every 6 months
